@{
    ViewBag.Title = "Animals App";
}

<div class="jumbotron">
    <div class="row text-center">
        <h1>Welcome To the Website! Grrrr!</h1>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <img src="~/Content/Images/cheetahs.jpg" />
        <p>Have a peek around. Enjoy!</p>
    </div>
</div>
